/* ////////////////////// variables */

:root{
    --site-bg   : #FBF9F3;
    --magenta   : #F54749;
    --dark-blue : #292D32;
}

/* ////////////////////// end of variables */


/* ///////////////////// classes */

.font-bold{
    font-weight: bold;
}

/* ///////////////////// end of classes */